---
layout: layouts/home.njk
permalink: /archive/
title: Posts
description: Archive
eleventyNavigation:
  key: Posts
  order: 4
---

<div id="posts">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>