---
title: Welcome to my website!
layout: layouts/home.njk
description: Hi, I'm Anant and this is my little-corner-of-the-internet.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  Hi EMILY, I'm Anant and this is my little-corner-of-the-internet. The rest of this blog is still a giant WIP so shh.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>